.navbar{background-color: rgb(120, 112, 112);  color: white;position: fixed !important; top: 0;z-index: 9999; }

.navbar a{color: white;font-size: 20px;position: }
.navbar li a{color: white;font-size: 20px;}
.dropdown-menu{background-color: rgb(48, 47, 47);}
.navbarScroll{margin-left: -200px;}
h2{font-weight: 100px;font-family: 'Bree Serif', serif;
    font-family: 'Poppins', sans-serif;}
h1{font-weight: 100px;font-family: 'Bree Serif', serif;
    font-family: 'Poppins', sans-serif;}
h5{font-family: 'Lato', sans-serif; }
#btn{background-color: white; color: black;}
#gen{background-color: #beb6b6;}

span{font-family: 'Lato', sans-serif;}



.container{position: relative;}

.carousel-control-prev-icon{height: 40px; color:red ; border-color: brown; }
.column{text-decoration: solid;color: rgb(43, 42, 42);font-size: xx-large; font-family: 'Lato', sans-serif; 
}

#money{background-color: rgb(62, 61, 60);}

.fixtures{background-color: rgb(46, 44, 44);margin: auto;}


.col{color: rgb(119, 214, 16); text-align: center;font-size: x-large;display: block; border-color: chartreuse; align-items: center;}
.btn-group{align-items: center;}
.joy{text-decoration: none;color: rgb(244, 246, 241);border: 2px solid #757373;z-index: index 1;; display: flex;flex-wrap: wrap;font-family: 'Lato', sans-serif;}

.free-tips{background-color: rgb(72, 70, 70); margin: auto;}


.free-prediction{text-align: center; text-decoration: none; cursor: pointer;}
 h2{text-align: center;  cursor: pointer; color:rgb(255, 247, 247); position: relative;text-transform: uppercase;}
 h2 ::before{position: absolute; top: 0; left: 0; overflow: hidden; color: #ccc; content: normal;}



 .About{margin: auto;padding: 0%; background-color: black; color: lavender; align-items: center;}
 .About-US{background-color: black;text-decoration: none;}
 .About-US h3{padding: 10%; }
 .fa-bars {color: white; }

 .table{color: white;}

 
 .d-block{height: 200px;}

 .footer{position:;background-color: rgb(61, 57, 57);color: rgb(229, 220, 220);text-align: center;padding-top: 20px;padding-bottom: 20px;font-size: larger;text-decoration: none;text-indent: 3%;text-shadow: #ccc;text-underline-position: below;font-family: 'Lato', sans-serif;  }

section{height: 10%;padding-bottom: px;
width: 100%;
position:absolute ;background-color: blanchedalmond; box-sizing: border-box;overflow: hidden;}
 .wrapper{height: 100%;width: 50%;background-color:blanchedalmond ;overflow: hidden;color: red;position: absolute;top: 0;left: 0;}

 .sliding{position:absolute ;top: 50%;white-space: nowrap; font-size: larger;line-height: 100px;overflow: hidden;font-family: Arial, Helvetica, sans-serif;animation: animate 20s linear infinite;padding-left: 250px;}
@keyframes animate {

0%{

    transform:translate(0,-50%);
}
100% {

    transform:translate(-50%,-50%);
}



}








